.joint-dialog.joint-theme-light {
    &.joint-lightbox {
        .control-button {
            border-radius: var(--border-radius);
            line-height: normal;
            border-color: transparent;
        }

        .bg {
            background-color: #111;
        }
    }

    button.btn-close {
        color: #fff;
        top: -35px;
        right: -2px;
        font-size: 24px;
    }
}
