<div id="app" class="joint-app">
    <div class="app-header">
        <img src="./assets/icons/joint-js.svg" alt="JointJS" />
    </div>
    <div #toolbarContainer class="toolbar-container"></div>
    <div class="app-body">
        <div #stencilContainer class="stencil-container"></div>
        <div #paperContainer class="paper-container"></div>
        <div #inspectorContainer class="inspector-container">
            <div #inspectorHeader class="inspector-header hidden">
                <button #openGroupsButton class="open-groups-btn"></button>
                <button #closeGroupsButton class="close-groups-btn"></button>
                <span class="inspector-header-text">Properties</span>
            </div>
            <div #inspectorContent class="inspector-content"></div>
        </div>
        <div #navigatorContainer class="navigator-container"></div>
    </div>
</div>
