@font-face {
    font-family: 'Noto Sans', sans-serif;
    src: url(../assets/fonts/NotoSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    src: url(../assets/fonts/NotoSans-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    src: url(../assets/fonts/NotoSans-Bold.ttf);
    font-weight: bold;
}
