$inspector-vertical-padding: 8px;
$inspector-text-color: #6B7280;
$color-transition-duration: 200ms;

.inspector-container {
    position: absolute;
    right: 0;
    flex-shrink: 0;
    width: 340px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 10px $inspector-vertical-padding 8px $inspector-vertical-padding;
    display: flex;
    flex-direction: column;
    gap: 2px;
    box-shadow: 0px 4px 12px 0px #00000014;
    overflow-x: hidden;
    background-color: var(--jj-bg-primary);

    .joint-inspector {
        position: relative;

        .group[data-name="general"] {

            padding: 0 0 4px 0;

            .group-label {
                display: none;
            }
        }

        .group-label {
            margin-left: 4px;
            margin-right: 4px;
            border-radius: 4px !important;
            border: 1px solid var(--app-border-primary) !important;
            background-color: var(--app-bg-tertiary) !important;
            color: $inspector-text-color !important;
            font-family: 'Inter', sans-serif !important;

            &:hover {
                background-color: var(--jj-accent-hover) !important;
            }
        }

        .field {
            padding-top: 8px !important;

            &.is-focused {
                input, .content-editable {
                    outline-color: var(--app-primary) !important;
                }
            }
        }

        .field:last-of-type {
            margin-bottom: 0 !important;
        }

        div[data-property="id"] {
            display: none;
        }

        label {
            color: $inspector-text-color !important;
            font-family: 'Inter', sans-serif !important;
            margin-bottom: 8px;
            margin-top: 0;

            &:has(div)::after {
                display: none;
            }

            .field-hint-container {
                margin-top: 8px;
                display: flex;
                gap: 10px;
                border: none;
                border-radius: var(--jj-border-radius-small);
                background-color: #F2F4F6;
                padding: 11px;
            }

            .field-hint {
                flex: 1;
                font-weight: 400;
                font-size: 12px;
                color: $inspector-text-color;
            }

            .field-hint-icon {
                width: 14px;
                height: 14px;
            }
        }

        .list {

            padding: 4px 0 0 0;

            button {
                font-family: 'Inter', sans-serif;
                font-size: 11px;
                font-weight: 600;
            }

            .list-items {
                margin-top: 8px;
            }

            .btn-list-add {
                width: auto !important;
                margin: 0px !important;
                border: 1px solid var(--app-border-primary);
                border-radius: var(--app-border-radius-small) !important;
                background-color: var(--app-bg-primary);
                color: var(--app-text-primary);
                padding: 6px 10px;

                transition:
                    color $color-transition-duration ease-in-out,
                    border-color $color-transition-duration ease-in-out,
                    background-color $color-transition-duration ease-in-out;

                &:hover {
                    border-color: var(--app-border-accent-hover) !important;
                    color: var(--app-primary);
                    background-color: var(--app-accent-hover) !important;
                }
            }

            .list-item {
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: row-reverse;

                > div.field {
                    padding-right: 0;
                }

                .btn-list-del {
                    margin-top: 32px;
                    margin-left: 0;
                    margin-right: 0;
                    padding: 0;
                    border: none !important;
                    border-radius: 0 !important;
                    color: transparent !important;
                    width: 24px !important;
                    height: 24px !important;
                    position: relative;

                    &:hover {
                        background-color: transparent !important;
                    }
                }

                button::after {
                    content: '\e92b';
                    font-family: 'material-icons';
                    font-size: 16px;
                    font-weight: 300;
                    color: #6B7280;
                    position: absolute;
                    left: calc(50% - 8px);
                    top: calc(50% - 8px);
                }

                div.field {
                    padding-top: 0px !important;
                    padding-left: 0px !important;
                    margin-bottom: 0px !important;
                    flex: 1;

                    &.object-field {
                        margin-bottom: 8px !important;
                    }
                }
            }
        }

        .content-editable {
            word-break: normal;
            min-height: 50px;
            font-family: 'Inter', sans-serif !important;
            color: var(--jj-text-primary) !important;
        }

        .content-editable:focus {
            outline: revert !important
        }

        .text-field {
            input {
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                text-align: left;
                border: 1px solid var(--jj-border-secondary);
                border-radius: var(--jj-border-radius-small);
                box-sizing: border-box;
                width: 100%;
                padding: 8px;
                height: 34px;
                color: var(--jj-text-primary);
            }
        }

        .number-field {
            input {
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                text-align: left;
                border: 1px solid var(--jj-border-secondary);
                border-radius: var(--jj-border-radius-small);
                box-sizing: border-box;
                width: 100%;
                padding: 8px;
                height: 34px;
                color: var(--jj-text-primary);
            }
        }

        .toggle {
            height: 14px;
            width: 36px;
            border-radius: 14px;

            input:checked + span {
                background: #5fa9ee;
            }

            input:checked + span i {
                position: absolute;
                left: 20px;
                background: #3f51b5;
                box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
            }

            span {
                background: rgba(0,0,0,.26);
                color: #f6f6f6;
                border-radius: 14px;
                box-shadow: none;

                i {
                    right: 50%;
                    width: 50%;
                    top: -2px;
                    height: 130%;
                    left: 0;
                    border-radius: 50%;
                    cursor: pointer;
                    background: #fafafa;
                    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
                    transition-duration: .28s;
                    transition-timing-function: cubic-bezier(.4,0,.2,1);
                    transition-property: left;
                }
            }
        }
    }

    .inspector-header {
        align-items: center;
        border-bottom: 1px solid var(--app-border-secondary);
        margin-left: 4px;
        margin-right: 4px;
        padding: 12px 0;
        display: flex;

        &.hidden {
            display: none;
        }

        img.inspector-header-icon {
            width: 26px;
            height: 26px;
            margin-right: 8px;
        }

        span.inspector-header-text {
            font-family: 'Inter', sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            text-transform: uppercase;
            padding: 0;
            color: #333333;
        }
    }

    .inspector-content {
        & > div {
            position: static;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .inspector-placeholder {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;

            .inspector-placeholder-icon {
                width: 38px;
                height: 38px;
                background-image: url(../assets/icons/inspector-empty.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }

            span {
                font-family: 'Inter', sans-serif;
                font-size: 12px;
                color: var(--app-text-tertiary);
            }
        }
    }

    &.inspector-closed {

        // Position the content (placeholder) at golden ratio when closed
        padding-top: calc(38.2vh);

        .inspector-content {
            transform: translateY(-50%);
        }
    }

    // Special width for nested select boxes in the inspector
    $select-box-width: 200px;
    $field-padding: 4px;
    $field-padding-combined: calc(2 * ($field-padding + $inspector-vertical-padding));

    .joint-select-box-options.joint-select-box:not(.joint-color-palette) {
        width: calc(100% - $field-padding-combined);

        // Change the width for the nested select box
        &.list-select-box {
            $extra-list-padding: 18px;
            $list-filed-padding-combined: calc($field-padding-combined + 2 * $extra-list-padding);

            width: calc(100% - $list-filed-padding-combined);
        }
    }
}
