// Import variables and mixins
@forward 'mixins';
@import 'variables';

// Theme specif font
@font-face {
    font-family: 'Open Sans';
    font-stretch: 75% 125%;
    font-style: normal;
    font-weight: 125 950;
    src: url(/assets/fonts/OpenSans.ttf);
}

// Import components
@import 'keyframes';
@import 'color-palette';
@import 'context-toolbar';
@import 'free-transform';
@import 'halo';
@import 'inspector';
@import 'lightbox';
@import 'navigator';
@import 'popup.scss';
@import 'select-box';
@import 'select-button-group';
@import 'selection';
@import 'snaplines';
@import 'stencil';
@import 'toolbar';
@import 'tooltip';
@import 'widgets';
