@use 'mixins' as *;

.inspector-container {
    width: 308px;
    height: 100%;
    background-color: var(--jj-bg-inspector);
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--jj-border-inspector-divider);

    .inspector-controls {
        display: flex;
        margin-top: 4px;
        border-bottom: 1px solid var(--jj-border-inspector-divider);

        button {
            flex: 1;
            background-color: var(--jj-bg-inspector-button);
            box-sizing: border-box;
            height: 38px;
            color: var(--jj-text-inspector-button);
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            font-weight: 600;
            line-height: 17.7px;
            border: none;
            transition: color 160ms ease-out;

            &.active {
                color: var(--jj-text-inspector-button-active);
            }

            &:disabled {
                opacity: 0.5;
            }

            &:hover:not(:disabled) {
                cursor: pointer;
                color: var(--jj-text-inspector-button-hover);
            }
        }
    }

    .inspector {
        flex: 1;
        position: relative;

        .inspector-content-wrapper {
            padding: 8px;

            .content-label {
                @include label;
            }

            @include select-button-group;
        }

        .inspector-empty {
            margin-top: 138px;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: start;
            align-items: center;
            gap: 16px;

            .inspector-empty-icon {
                width: 38px;
                height: 38px;
                background-image: url(../assets/inspector/inspector-placeholder-icon.svg);
            }

            span {
                color: var(--jj-text-inspector-empty);
                font-family: 'Open Sans', sans-serif;
                font-size: 12px;
                line-height: 17.7px;
            }
        }

        .joint-inspector {
            position: static;
            height: 100%;
            padding: 0 8px;

            .group {

                padding: 8px 0;

                .group-label {
                    @include label;
                    cursor: default;
                }

                &:not(:first-child) {

                    border-top: 1px solid var(--jj-border-inspector-divider);
                }
            }

            .field {

                margin: 4px 0;

                label {

                    font-family: 'Open Sans', sans-serif;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 16.3px;
                    color: var(--jj-text-secondary);

                    &::after {
                        display: none;
                    }
                }

                &.object-field {
                    padding: 0;
                }
            }

            .object-property:has(.color-field) {
                width: 50%;
                display: inline-block;
            }

            @include select-button-group;
            @include color;
            @include select;
        }
    }
}
