@import './fonts';
$color-transition-duration: 200ms;

.toolbar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    .joint-toolbar.joint-theme-light {
        padding: 8px 20px;
        height: var(--app-toolbar-height);
        box-shadow: 0px 4px 8px #00000012;
        display: grid;
        grid-template-columns: 1fr auto 1fr;

        button {
            height: 30px;
            transition:
                color $color-transition-duration ease-in-out,
                border-color $color-transition-duration ease-in-out,
                background-color $color-transition-duration ease-in-out;
        }

        [data-group="left"] {
            justify-self: start;
        }

        [data-group="right"] {
            justify-self: end;
        }

        [data-type="redo"] {
            margin-left: 6px;
        }

        [data-type="undo"],
        [data-type="redo"] {
                width: 32px;
                margin-right: 6px;
        }

        [data-type="button"] {
            font-family: 'Inter', sans-serif;
            font-size: 12px;
            font-weight: 500;
            border-radius: var(--app-border-radius-small);
            border: 1px solid var(--app-border-primary);
            background-color: var(--app-bg-primary);
            color: var(--app-text-primary);
            padding: 6px 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;

            &:hover {
                border-color: var(--app-border-accent-hover);
                color: var(--app-primary);
            }
        }

        button[data-name="publish"] {
            border-width: 0;
            color: white;
            background-color: var(--app-primary);

            &:hover {
                --jj-accent-hover: var(--app-primary-hover);
                color: white;
            }
        }

        .joint-widget[data-type="editableText"] {
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 600;
            color: var(--app-text-primary);
            outline: none;
            border: none;
            text-align: center;
            padding: 7px 13px;

            &:hover {
                background-color: transparent;
            }

            &:focus {
                border: 2px solid var(--app-primary);
                border-radius: var(--app-border-radius-medium);
                padding: 7px 13px;
            }
        }
    }
}

.joint-context-toolbar.joint-theme-light.joint-vertical {
    .tools {
        button.tool {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 13px;
        }
    }
}
