@import '@joint/plus/joint-plus.css';

#stencil-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    bottom: 0;
}

#paper-container {
    position: absolute;
    right: 0;
    top: 0;
    left: 100px;
    bottom: 0;
    user-select: none;
}

#logo {
    position: absolute;
    bottom: 20px;
    right: 0;
}

.embedding-target [joint-selector="body"] {
    stroke: #1a3a5c;
}
