.joint-popup.joint-theme-light {
    box-shadow: 0px 4px 12px 0px #00000014;
    border-radius: var(--jj-border-radius-small);
    background-color: var(--jj-bg-primary);
    border: 1px solid var(--jj-border-secondary);
    animation: $context-animation;
}
